<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Pengecekan Nilai Kelas Apollo</title>
    </head>
    <body
        class="
            flex flex-row
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
            gap-10
            flex-wrap
        "
    >
        <main class="flex-1 bg-white p-8 rounded-lg self-start">
            <h1 class="text-4xl font-bold mb-8 pl-8">
                Data Diri Siswa:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col px-8"
            >

                <label for="inputNanme4" class="form-label">Nama Lengkap :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nama" 
                    name="nama"
                    placeholder="masukkan nama"
                    required="required"
                    value="{{ nama }}"
                >

                <label for="inputNanme4" class="form-label mt-3">ID MSIB :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="id_msib" 
                    name="id_msib"
                    placeholder="masukkan id msib"
                    required="required"
                    value="{{ id_msib }}"
                >

                <label for="inputNanme4" class="form-label mt-3">Universitas :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="univ" 
                    name="univ"
                    placeholder="masukkan univ"
                    required="required"
                    value="{{ univ }}"
                >

                <label for="inputNanme4" class="form-label mt-3">Prodi :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="prodi" 
                    name="prodi"
                    placeholder="masukkan prodi"
                    required="required"
                    value="{{ prodi }}"
                >

                <label for="inputNanme4" class="form-label mt-3">Nomor Handphone :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nomor_hp" 
                    name="nomor_hp"
                    placeholder="masukkan nomor handphone"
                    required="required"
                    value="{{ nomor_hp }}"
                >

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    Lihat Nilai
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="h-full flex flex-col flex-1 rounded-lg gap-5">
            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-3xl mb-8 font-bold">
                    Keterangan
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p class="font-bold">Mata Pelajaran</p> 
                    <p></p>
                    <p>1. Logika dan Konsep Teknologi AI</p>
                    <p>: 3 sks</p>
                    <p>2. Siklus Proyek AI</p>
                    <p>: 2 sks</p>
                    <p>3. Pemrograman Python</p>
                    <p>: 3 sks</p>		
                    <p>4. Metode Penelitian AI</p>
                    <p>: 3 sks</p>
                    <p>5. Etika Profesi & Kewirausahaan</p>
                    <p>: 3 sks</p>
                    <p>6. Proyek Akhir</p>
                    <p>: 6 sks (Sedang berlangsung)</p>
                    
                    <p><br></p><p></p>
                    
                    <p class="font-bold">Rumus Perhitungan Nilai Akhir :</p>
                    <p></p>
                    <p>Presensi 30% + Tugas 30% + Postest 40%</p>
                </div>
            </div>
            
            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    Logika dan Konsep Teknologi AI
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_intro_to_ai_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_intro_to_ai_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_intro_to_ai_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_intro_to_ai_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_intro_to_ai_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Absen 1 pada 22/08</p> 
                    <p>: {{absen_intro_ai_1}}</p>
                    <p>Absen 2 pada 23/08</p>
                    <p>: {{absen_intro_ai_2}}</p>
                    <p>Absen 3 pada 24/08</p>
                    <p>: {{absen_intro_ai_3}}</p>
                    <p>Absen 4 pada 25/08</p>
                    <p>: {{absen_intro_ai_4}}</p>
                    <p>Absen 5 pada 26/08</p>
                    <p>: {{absen_intro_ai_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_intro_ai}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_intro_ai}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_intro_ai}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8">
                    Hasil Nilai Post Test 2 adalah
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Data Science</p> 
                    <p>: {{nilai_ds}}</p>
                    <p>Natural Language Processing</p>
                    <p>: {{nilai_nlp}}</p>
                    <p>Computer Vision</p>
                    <p>: {{nilai_cv}}</p>
                    <p>Technical Skill</p>
                    <p>: {{nilai_tech}}</p>
                </div>
            </div>
        </section>
    </body>
</html>