<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Pengecekan Nilai Kelas Apollo</title>
    </head>
    <body
        class="
            flex flex-row
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
            gap-10
            flex-wrap
        "
    >
        <main class="flex-1 bg-white p-8 rounded-lg self-start">
            <h1 class="text-4xl font-bold mb-8 pl-8">
                Data Diri Siswa:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col px-8"
            >

                <label for="inputNanme4" class="form-label">Nama Lengkap :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nama" 
                    name="nama"
                    placeholder="masukkan nama"
                    required="required"
                    value="{{ nama }}"
                >

                <label for="inputNanme4" class="form-label mt-3">ID MSIB :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="id_msib" 
                    name="id_msib"
                    placeholder="masukkan id msib"
                    required="required"
                    value="{{ id_msib }}"
                >

                <label for="inputNanme4" class="form-label mt-3">Nomor Handphone :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nomor_hp" 
                    name="nomor_hp"
                    placeholder="masukkan nomor handphone"
                    required="required"
                    value="{{ nomor_hp }}"
                >

                {% if hasil %}
                <br>
                <h3 class="text-2xl mb-8">
                    {{ hasil }}
                </h3>
                {% endif %}

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    Lihat Nilai
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="h-full flex flex-col flex-1 rounded-lg gap-5">
            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-3xl mb-8 font-bold">
                    Keterangan
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p class="font-bold">Mata Pelajaran (20 sks)</p> 
                    <p></p>
                    <p>1. Logika dan Konsep Teknologi AI</p>
                    <p>: 3 sks</p>
                    <p>2. Pemrograman Python</p>
                    <p>: 3 sks</p>
                    <p>3. Siklus Proyek AI</p>
                    <p>: 2 sks</p>	
                    <p>4. Metode Penelitian AI (ML, DS, NLP, CV, Tech)</p>
                    <p>: 3 sks</p>
                    <p>5. Etika Profesi & Kewirausahaan</p>
                    <p>: 3 sks</p>
                    <p>6. Proyek Akhir</p>
                    <p>: 6 sks (sedang berlangsung)</p>
                </div>
                <div class="mt-8">
                    <p class="font-bold">Rumus Perhitungan Nilai Akhir :</p>
                    <p></p>
                    <p>Presensi 30% + Tugas 30% + Postest 40%</p>
                </div>
            </div>

            {% if hasil == "Selamat, Data ditemukan !"%}
            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    1. Logika dan Konsep Teknologi AI
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_intro_ai_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_intro_ai_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_intro_ai_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_intro_ai_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_intro_ai_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Absen 1 pada 22/08</p> 
                    <p>: {{absen_intro_ai_1}}</p>
                    <p>Absen 2 pada 23/08</p>
                    <p>: {{absen_intro_ai_2}}</p>
                    <p>Absen 3 pada 24/08</p>
                    <p>: {{absen_intro_ai_3}}</p>
                    <p>Absen 4 pada 25/08</p>
                    <p>: {{absen_intro_ai_4}}</p>
                    <p>Absen 5 pada 26/08</p>
                    <p>: {{absen_intro_ai_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_intro_ai}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_intro_ai}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_intro_ai}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    2. Pemrograman Python
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_python_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_python_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_python_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_python_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_python_5}}</p>
                    <p>Tugas 6</p>
                    <p>: {{nilai_python_3}}</p>
                    <p>Tugas 7</p>
                    <p>: {{nilai_python_4}}</p>
                    <p>Tugas 8</p>
                    <p>: {{nilai_python_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Absen 1 pada 29/08</p> 
                    <p>: {{absen_python_1}}</p>
                    <p>Absen 2 pada 30/08</p>
                    <p>: {{absen_python_2}}</p>
                    <p>Absen 3 pada 31/08</p>
                    <p>: {{absen_python_3}}</p>
                    <p>Absen 4 pada 01/09</p>
                    <p>: {{absen_python_4}}</p>
                    <p>Absen 5 pada 02/09</p>
                    <p>: {{absen_python_5}}</p>
                    <p>Absen 6 pada 05/09</p>
                    <p>: {{absen_python_3}}</p>
                    <p>Absen 7 pada 06/09</p>
                    <p>: {{absen_python_4}}</p>
                    <p>Absen 8 pada 07/09</p>
                    <p>: {{absen_python_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_python}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_python}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_python}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    3. Siklus Proyek AI
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_siklus_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_siklus_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_siklus_3}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Absen 1 pada 08/09</p> 
                    <p>: {{absen_siklus_1}}</p>
                    <p>Absen 2 pada 09/09</p>
                    <p>: {{absen_siklus_2}}</p>
                    <p>Absen 3 pada 12/09</p>
                    <p>: {{absen_siklus_3}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_siklus}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_siklus}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_siklus}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4.A. Metode Penelitian AI (ML)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_ml_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_ml_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_ml_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_ml_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_ml_5}}</p>
                    <p>Tugas 6</p>
                    <p>: {{nilai_ml_3}}</p>
                    <p>Tugas 7</p>
                    <p>: {{nilai_ml_4}}</p>
                    <p>Tugas 8</p>
                    <p>: {{nilai_ml_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Absen 1 pada 13/09</p> 
                    <p>: {{absen_ml_1}}</p>
                    <p>Absen 2 pada 14/09</p>
                    <p>: {{absen_ml_2}}</p>
                    <p>Absen 3 pada 15/09</p>
                    <p>: {{absen_ml_3}}</p>
                    <p>Absen 4 pada 16/09</p>
                    <p>: {{absen_ml_4}}</p>
                    <p>Absen 5 pada 19/09</p>
                    <p>: {{absen_ml_5}}</p>
                    <p>Absen 6 pada 20/09</p>
                    <p>: {{absen_ml_3}}</p>
                    <p>Absen 7 pada 21/09</p>
                    <p>: {{absen_ml_4}}</p>
                    <p>Absen 8 pada 22/09</p>
                    <p>: {{absen_ml_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_ml}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_ml}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_ml}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4.B. Metode Penelitian AI (Domain Data Science)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_ds_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_ds_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_ds_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_ds_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_ds_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Total Absen dalam 1 minggu</p> 
                    <p>: {{total_absen_ds}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_ds}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_ds}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_ds}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4.C. Metode Penelitian AI (Domain Natural Language Processing)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_nlp_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_nlp_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_nlp_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_nlp_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_nlp_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Total Absen dalam 1 minggu</p> 
                    <p>: {{total_absen_nlp}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_nlp}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_nlp}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_nlp}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4.D. Metode Penelitian AI (Domain Computer Vision)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_cv_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_cv_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_cv_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_cv_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_cv_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Mini Project</p>
                    <p>: {{mini_project_cv}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Total Absen dalam 1 minggu</p> 
                    <p>: {{total_absen_cv}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_cv}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_cv}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_cv}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4.E. Metode Penelitian AI (Domain Technical Skill)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>Tugas 1</p> 
                    <p>: {{nilai_tech_1}}</p>
                    <p>Tugas 2</p>
                    <p>: {{nilai_tech_2}}</p>
                    <p>Tugas 3</p>
                    <p>: {{nilai_tech_3}}</p>
                    <p>Tugas 4</p>
                    <p>: {{nilai_tech_4}}</p>
                    <p>Tugas 5</p>
                    <p>: {{nilai_tech_5}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Total Absen dalam 1 minggu</p> 
                    <p>: {{total_absen_tech}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p>Post Test</p>
                    <p>: {{posttest_tech}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_tech}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_tech}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    4. Metode Penelitian AI (Gabungan)
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>ML & DL</p> 
                    <p>: {{final_ml}}</p>
                    <p>Domain DS</p>
                    <p>: {{final_ds}}</p>
                    <p>Domain NLP</p>
                    <p>: {{final_nlp}}</p>
                    <p>Domain CV</p>
                    <p>: {{final_cv}}</p>
                    <p>Domain Technical</p>
                    <p>: {{final_tech}}</p>

                    <p><br></p>
                    <p><br></p>

                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_metode_penelitian}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_metode_penelitian}}</p>
                </div>
                <div class="mt-8">
                    <p class="font-bold">Rumus Perhitungan Nilai Metode Penelitian AI :</p>
                    <p>(ML + DS + NLP + CV + Tech) / 5</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    5. Etika Profesi & Kewirausahaan
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p class="font-bold">Nilai Akhir</p>
                    <p>: {{final_lifeskill}}</p>
                    <p class="font-bold">Huruf</p>
                    <p>: {{alphabet_lifeskill}}</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    6. Proyek Akhir
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p class="font-bold">Nilai Akhir</p>
                    <p>: Sedang berlangsung</p>
                    <p class="font-bold">Huruf</p>
                    <p>: Sedang berlangsung</p>
                </div>
            </div>

            <div class="flex-1 bg-white p-4 md:p-16 rounded-lg">
                <h2 class="text-2xl mb-8 font-bold">
                    Daftar Hasil Studi
                </h2>
                <div class="mt-8 grid grid-cols-2">
                    <p>1. Logika dan Konsep Teknologi AI</p>
                    <p>: {{final_intro_ai}} - {{alphabet_intro_ai}}</p>
                    <p>2. Pemrograman Python</p>
                    <p>: {{final_python}} - {{alphabet_python}}</p>
                    <p>3. Siklus Proyek AI</p>
                    <p>: {{final_siklus}} - {{alphabet_siklus}}</p>	
                    <p>4. Metode Penelitian AI (ML, DS, NLP, CV, Tech)</p>
                    <p>: {{final_metode_penelitian}} - {{alphabet_metode_penelitian}}</p>
                    <p>5. Etika Profesi & Kewirausahaan</p>
                    <p>: {{final_lifeskill}} - {{alphabet_lifeskill}}</p>
                    <p>6. Proyek Akhir</p>
                    <p>: (sedang berlangsung)</p>
                </div>
            </div>
            {% endif %}
        </section>
    </body>
</html>