<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Pengecekan Nilai Kelas Apollo</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Data Diri Siswa:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >

                <label for="inputNanme4" class="form-label">Nama Lengkap :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nama" 
                    name="nama"
                    placeholder="masukkan nama"
                    required="required"
                    value="{{ nama }}"
                >

                <label for="inputNanme4" class="form-label">ID MSIB :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="id_msib" 
                    name="id_msib"
                    placeholder="masukkan id msib"
                    required="required"
                    value="{{ id_msib }}"
                >

                <label for="inputNanme4" class="form-label">Universitas :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="univ" 
                    name="univ"
                    placeholder="masukkan univ"
                    required="required"
                    value="{{ univ }}"
                >

                <label for="inputNanme4" class="form-label">Prodi :</label>
                <input 
                    type="text" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="prodi" 
                    name="prodi"
                    placeholder="masukkan prodi"
                    required="required"
                    value="{{ prodi }}"
                >

                <label for="inputNanme4" class="form-label">Nomor Handphone :</label>
                <input 
                    type="number" 
                    class="p-4 bg-gray-100 rounded-md" 
                    id="nomor_hp" 
                    name="nomor_hp"
                    placeholder="masukkan nomor handphone"
                    required="required"
                    value="{{ nomor_hp }}"
                >

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    Lihat Nilai
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <h2 class="text-2xl mb-8">
                    Hasil Nilai Post Test 2 adalah
                </h2>
                <div class="mt-8">
                    <p>Data Science : {{ nilai_ds }}</p>
                    <p>Natural Language Processing : {{ nilai_nlp }}</p>
                    <p>Computer Vision : {{ nilai_cv }}</p>
                    <p>Technical Skill : {{ nilai_tech }}</p>
                </div>
                {% if hasil %}
                <br>
                <h3 class="text-2xl mb-8">
                    {{ hasil }}
                </h3>
                {% endif %}
            </div>
        </section>
    </body>
</html>